
.section-title {
    font-family: $heading-font;
    font-size: $font-size-large;
    color: $secondary;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5rem;
}

.full-width-text {
    @extend .wrapper;
    padding-top: 40px;
    padding-bottom: 20px;

    @media #{$mq-large} {
        padding-top: 80px;
        padding-bottom: 40px;
    }
}

.full-width-description {
    font-family: $body-font;
    width: 100%;
    margin: 2rem auto 0 auto;
    text-align: center;

    @media #{$mq-medium} {
        max-width: 600px;
    }
}